/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', serif;
}

#__next {
  height: 100%;
}

/* House */

.House {
  position: relative;
}

.level-0-selected .Floor--level1,
.level-0-selected .Floor--level2,
.level-1-selected .Floor--level2 {
  transform: translateY(-200px) rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.level-0-selected .Pins--level0,
.level-1-selected .Pins--level1,
.level-2-selected .Pins--level2 {
  transform: translateY(0);
  opacity: 1;
}

/* Element */

.Element {
  position: absolute;
}

.Element--garage {
  width: 320px;
  height: 130px;
  background-color: #CBD5E0;
}

.Element--kitchen {
  width: 170px;
  height: 130px;
  background-color: #C6F6D5;
  bottom: 0;
}

.Element--wc1 {
  width: 30px;
  height: 130px;
  background-color: #FFFFF0;
  bottom: 0;
  left: 170px;
}

.Element--garden {
  width: 300px;
  height: 100%;
  background-color: #68D391;
  right: 0;
}

.Element--room1 {
  width: 200px;
  height: 160px;
  background-color: #90CDF4;
}

.Element--room2 {
  width: 200px;
  height: 140px;
  background-color: #FED7E2;
  bottom: 0;
}

.Element--room3 {
  width: 200px;
  height: 160px;
  background-color: #CBD5E0;
  right: 0;
}

.Element--office1 {
  width: 200px;
  height: 140px;
  background-color: #A3BFFA;
  bottom: 0;
  right: 0;
}

.Element--wc2 {
  width: 30px;
  height: 40px;
  background-color: #FEEBC8;
  top: 80px;
  left: 270px;
}

.Element--bathroom1 {
  width: 100px;
  height: 100px;
  background-color: #F7FAFC;
  left: 200px;
}

.Element--bathroom2 {
  width: 40px;
  height: 80px;
  background-color: #BEE3F8;
  top: 50px;
  left: 160px;
}

.Element--bathroom3 {
  width: 200px;
  height: 150px;
  background-color: #E2E8F0;
  bottom: 0;
}

.Element--office2 {
  width: 200px;
  height: 150px;
  background-color: #BEE3F8;
  bottom: 0;
  right: 0;
}

.Element--attic {
  width: 200px;
  height: 90px;
  background-color: #B2F5EA;
  right: 0;
}

/* Floor */

.Floor {
  position: absolute;
  left: 0;
  right: 100px;
  width: 500px;
  height: 300px;
  margin: 200px auto 0 auto;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.Floor--level0 {
  top: 47px;
  left: 144px;
  width: 800px;
  background-color: #EDF2F7;
}

.Floor--level1 {
  top: 50px;
  background-color: #F1EBE4;
}

.Floor--level2 {
  top: 0px;
  background-color: #EEF5E0;
}

/* Pins */

.Pins {
  position: relative;
}

.Pins--level0,
.Pins--level1,
.Pins--level2 {
  opacity: 0;
  transform: translateY(-100px);
}

.Pin {
  position: absolute;
  display: inline-block;
  margin: 200px auto 0 auto;
  cursor: pointer;
}

.Pin__arrow {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
