/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  font-family: Montserrat, sans-serif;
  /* background-image: url(/bg.svg); */
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', serif;
}

#__next {
  height: 100%;
}
